#header{
background-color: #550077;
height: 5%;
}

h1 {

  margin-left: 2%;
  font: arial 1.5em;
  color: #ffffff;
}

#create_user{
  margin-top: 20px;
  margin-left: 4%;
  display: inline-block;
  float: left;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #444444;
}

input:focus {
  outline: none;
  caret-color: #ffffff;
  color: #ffffff;
}

.labels {
  font-size: 20px;
  color: #ffffff;
}

.buttons {
  border-radius: 8px;
  background-color: #550077;
   border: none;
   width: 322px;
   color: #ffffff;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}
