*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
   }

#header{
  background-color: #550077;
  height: 5%;
}

h1 {
  /* float: left; */
  color: #ffffff;
  display: inline-block;
}

ul {
    /* float: left; */
    margin-left: 17%;
    width: 300px;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    background-color: #550077;
    border: 1px dashed red;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  7px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #b600ff;
}

#searchBar{
  /* float: left; */
  border: 1px dashed red;
  margin-left: 1%;
  display: inline-block;

}

form.search_bar input[type=text] {
    background-color: #ffffff;
    border: 1px dashed red;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    width: 195%;
    background: #550077;
}

input.search_bar:focus {
    outline: none;
    color: #ffffff;
    caret-color: #ffffff;
}


#main{
  background-color: #ffffff;
  margin: auto;
  width: 50%;
  height: 90%;
}

#profile_pic{

  margin-top: 10px;
  display: inline-block;
  border: 1px dashed red;
}

h2 {
  float: left;
  padding-top: 20px;
  display: inline-block;
  border: 1px dashed red;
}

.checked {
    color: orange;
}

#stars{
  float: left;
  border: 1px dashed red;
}
