*{
 margin: auto;
 padding: 0px;
}

#wrapper{
 margin: auto;
 width: 100%;
 height: 100vh;
 background-color: #444444;

}

::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #ffffff;
}



input.inputs:focus {
    outline: none;
}

/*Whe the screen is 800px or less, execute the following*/

  /* @media only screen and (max-width: 425px) {

  #wrapper{
    margin: auto;
    width: 320px;
    height: 100%;
    background-color: #444444;
    padding: 34px;
    }

} */
